from sirepo.template import radia_util
from sirepo.template import template_common
from sirepo.template import radia
import mpi4py

s = {{ sim_id }}
g = {{ gid }}
n = "{{ name }}"
t = {{ f_type }}
p = {{ f_path }}
with radia_util.MPI() as m:
    print(f'RANK {mpi4py.MPI.COMM_WORLD.Get_rank()}')
    v = (radia._generate_field_data(
            s,
            g,
            n,
            t,
            [p]
            )
        .data[0]
        .vectors
    )
    print(v)